<% var msg = require('../../locale/current/common'); %>

<img id="rotateMobile" src="<%= assetUrl('media/mobile_tutorial_turnphone.png') %>">

<% var instructions = function() { -%>
  <div id="bubble">
    <img id="prompt-icon">
    <p id="prompt">
    </p>
  </div>
<% }; -%>

<%
/**
 * @param appInstance The name of the App object to run.
 */
var gameButtons = function(appInstance) { -%>
  <table id="gameButtons">
    <tr>
      <td>
        <button id="runButton" class="launch" onclick="<%= appInstance %>.runButtonClick();">
          <img src="<%= assetUrl('media/1x1.gif') %>" class="run icon21">
          <%= msg.runProgram() %>
        </button>
        <button id="resetButton" class="launch"
          onclick="BlocklyApps.resetButtonClick();" style="display: none">
          <img src="<%= assetUrl('media/1x1.gif') %>" class="stop icon21">
            <%= msg.resetProgram() %>
        </button>
      </td>
    </tr>
  </table>
<% }; -%>

<% // A spot for the server to inject some HTML for help content.
var helpArea = function(html) { -%>
  <% if (html) { -%>
    <div id="helpArea">
      <%- html %>
    </div>
  <% } -%>
<% }; -%>

<% var codeArea = function() { -%>
  <div id="codeTextbox" contenteditable spellcheck=false>
    // <%= msg.typeCode() %>
    <br>
    // <%= msg.typeHint() %>
    <br>
  </div>
<% }; %>

<div id="visualization">
  <%- data.visualization %>
</div>

<% gameButtons(data.appInstance) %>
<% if (data.controls) { %>
  <%- data.controls %>
<% } %>
<% codeArea() %>
<% helpArea(data.helpHtml) %>

<div id="blockly">
  <div id="headers">
    <div id="toolbox-header" class="blockly-header"><span><%= msg.toolboxHeader() %></span></div>
    <div id="workspace-header" class="blockly-header">
      <span id="blockCounter"><%= msg.workspaceHeader() %></span>
      <div id="blockUsed" class=<%= data.blockCounterClass %>>
        <%= data.blockUsed %>
      </div>
      <span>/</span>
      <span id="idealBlockNumber"><%= data.idealBlockNumber %></span>
    </div>
    <div id="show-code-header" class="blockly-header"><span><%= msg.showCodeHeader() %></span></div>
  </div>
</div>

<% instructions() %>
