<% var msg = require('../build/en_us/i18n/common'); %>

<% var dialog = function() { -%>
  <div id="dialogShadow" class="dialogAnimate"></div>
  <div id="dialogBorder"></div>
  <div id="dialog"></div>
<% }; -%>

<% var instructions = function() { -%>
  <div id="bubble">
    <div id="prompt"></div>
  </div>
<% }; -%>

<% var ok = function() { -%>
  <div class="farSide" style="padding: 1ex 3ex 0">
    <button class="secondary" onclick="BlocklyApps.hideDialog(true)">
      <%= msg.dialogOK() %>
    </button>
  </div>
<% }; -%>

<% var codeDialog = function() { -%>
  <div id="dialogCode" class="dialogHiddenContent">
    <pre id="containerCode"></pre>
    <% ok() -%>
  </div>
<% }; -%>

<%
/**
 * @param appInstance The name of the App object to run.
 */
var gameButtons = function(appInstance) { -%>
  <table id="gameButtons" width="400" style="padding-top: 10px;">
    <tr>
      <td style="width: 190px; text-align: center; vertical-align: top;">
        <button class="notext" title="<%= msg.codeTooltip() %>"
          onclick="BlocklyApps.showGeneratedCode();">
          <img src='<%= baseUrl %>media/1x1.gif' alt="code" class="code icon21">
        </button>
      </td>
      <td>
        <button id="runButton" class="launch" onclick="<%= appInstance %>.runButtonClick();">
          <img src="<%= baseUrl %>media/1x1.gif" class="run icon21">
          <%= msg.runProgram() %>
        </button>
        <button id="resetButton" class="launch"
          onclick="BlocklyApps.resetButtonClick();" style="display: none">
          <img src="<%= baseUrl %>media/1x1.gif" class="stop icon21">
            <%= msg.resetProgram() %>
        </button>
      </td>
    </tr>
  </table>
<% }; -%>

<% // A spot for the server to inject some HTML for help content.
var helpArea = function(html) { -%>
  <% if (html) { -%>
    <div id="helpArea">
      <%- html %>
    </div>
  <% } -%>
<% }; -%>

<%
/**
 * @param? appSpecific Template containing app specific feedback markup.
 */
var feedback = function(appSpecific) { -%>
  <span id="levelFeedbackText">
    <span id="hintTitle" class="feedback"><%= msg.hintTitle() %>Hints:</span>
    <div id="nextLevelMsg" class="feedback" style="display: none;"><%= msg.nextLevel() %></div>
    <div id="finalLevelMsg" class="feedback" style="display: none;"><%= msg.finalLevelMsg() %></div>
    <li id="levelIncompleteError" class="feedback" style="display: none">
      <%= msg.levelIncompleteError() %>
    </li>
    <div id="emptyBlocksError" class="feedback" style="display: none">
      <%= msg.emptyBlocksErrorMsg() %>
    </div>
    <div id="missingBlocksError" class="feedback" style="display: none">
      <%= msg.missingBlocksErrorMsg() %>
    </div>
    <div id="tooManyBlocksError" class="feedback" style="display: none">
      <%= msg.tooManyBlocksMsg() %>
    </div>
    <div id="tooFewBlocksError" class="feedback" style="display: none">
      <%= msg.tooFewBlocksMsg() %>
    </div>
    <% if (appSpecific) { %>
      <%- appSpecific %>
    <% } %>
  </span>  // feedbackText
  <iframe id="feedbackBlocks" class="feedback" style="margin-left: 50px;
    height: 80px; width: 500px; border: none; display: none;" src="about:blank"></iframe>
  <span id="generatedCodeInfoContainer" style="display:none">
    <div id="linesOfCodeFeedbackMsg" class="linesOfCodeMsg"></div>
    <a id="showLinesOfCodeLink" href="javascript:;" onclick="BlocklyApps.showGeneratedCodeInFeedback(this);"></a>
  </span>
  <span style="display:none">
    <hr/>
    <div id="generatedCodeInfoMsg"></div>
    <pre id="generatedCodeContainer" class="generatedCode"></pre>
  </span>
<% }; -%>

<% // Buttons on the feedback dialog.
var feedbackButtons = function() { -%>
  <div id="returnToLevelButton" style="display: none;">
    <% ok() %>
  </div>
  <div style="text-align: center">
    <button id="tryAgainButton" class="launch" style="display: none"
      onclick="BlocklyApps.tryAgainClicked();">
      <%= msg.tryAgain() %>
    </button>
    <button id="continueButton" class="launch" style="display: none"
      onclick="BlocklyApps.continueClicked();">
      <%= msg.continue() %>
    </button>
  </div>
<% }; -%>


<% instructions() %>
<div id="blockCount"></div>

<div id="visualization">
  <%- data.visualization %>
</div>

<% gameButtons(data.appInstance) %>
<% if (data.controls) { %>
  <%- data.controls %>
<% } %>
<% helpArea(data.helpHtml) %>

<div id="blockly"></div>

<%
  dialog()
  codeDialog()
%>

<div id="help" class="dialogHiddenContent">
  <div style="padding-bottom: 0.7ex;"><br>
    <% feedback(data.appFeedback) %>
  </div>
  <% feedbackButtons() %>
</div>
